main {
  section.categories {
    display: grid;

    align-self: flex-start;
    justify-self: center;

    justify-content: center;
    align-items: flex-start;

    min-width: 260px;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    @media (min-height: 732px) {
      margin-top: 48px;
    }
  }
}
