:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  justify-self: center;

  width: inherit;

  ion-icon {
    font-size: 56px;
    padding: 0 8px 12px;
  }

  h1,
  p {
    margin-bottom: 8px;
  }
}
