ion-header {
  --ion-toolbar-background: transparent;
  --ion-toolbar-border-color: transparent;

  ion-back-button {
    text-transform: capitalize;
  }
}

.header-md {
  box-shadow: none;

  &:after {
    background: none;
  }
}
