<ion-content color="light">
  <ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-back-button
          [defaultHref]="'/goal/' + category"
          color="medium"
          [text]="'CORE.BACK' | translate"
        ></ion-back-button>
      </ion-buttons>

      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <main class="grid ion-padding-start ion-padding-end">
    <ng-container *ngIf="category && goal">
      <app-goal-title
        icon="./assets/img/categories/{{ category }}.svg"
        title="{{ 'GOALS.' + category.toUpperCase() + '.' + goal.toUpperCase() + '.TEASER' | translate }}"
      ></app-goal-title>

      <section class="goal ion-padding-top ion-padding-bottom">
        <ion-icon
          [src]="'./assets/img/goals/' + category + '/' + goal + '.svg'"
          role="presentation"
        ></ion-icon>

        <p
          class="ion-text-center ion-margin-start ion-margin-top ion-margin-end"
          [innerHTML]="'GOALS.' + category.toUpperCase() + '.' + goal.toUpperCase() + '.DETAIL' | translate"
        ></p>
      </section>

      <section
        class="save ion-padding-top ion-padding-bottom ion-margin-bottom"
      >
        <ion-button
          mode="ios"
          shape="round"
          expand="block"
          [color]="category + '-light'"
          (click)="save()"
          [className]="category"
        >
          {{ 'GOAL_SELECTION.SAVE' | translate }}
        </ion-button>
      </section>
    </ng-container>
  </main>
</ion-content>
